header {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $accent-color;
    .branding {
        color: $primary-color;
        font-family: $font-bold;
        font-size: 2.5rem;
    }
    .search {
        margin-bottom: 25px;
        input {
            padding: 10px;
        }
    }
    nav {
        a {
            margin: 5px;
            font-size: 14px;
        }
    }
}